In [1]:
%load_ext sql

82 files found in data/song_data
            artist_id  artist_latitude  artist_location  artist_longitude  \
0  ARD7TVE1187B99BFB1              NaN  California - LA               NaN

  artist_name   duration  num_songs             song_id             title  \
0      Casual  218.93179          1  SOMZWCG12A8C13C480  I Didn't Mean To

   year
0     0
1/82 files processed.
            artist_id  artist_latitude artist_location  artist_longitude  \
0  ARNTLGG11E2835DDB9              NaN                               NaN

  artist_name   duration  num_songs             song_id  \
0         Clp  266.39628          1  SOUDSGM12AC9618304

                               title  year
0  Insatiable (Instrumental Version)     0
2/82 files processed.
            artist_id  artist_latitude artist_location  artist_longitude  \
0  AR8ZCNI1187B9A069B              NaN                               NaN

        artist_name   duration  num_songs             song_id       title  \
0  Planet P Project  269.81832          1  SOIAZJW12AB01853F1  Pink World

   year
0  1984
3/82 files processed.
            artist_id  artist_latitude              artist_location  \
0  AR10USD1187B99F3F1              NaN  Burlington, Ontario, Canada

   artist_longitude            artist_name   duration  num_songs  \
0               NaN  Tweeterfriendly Music  189.57016          1

              song_id         title  year
0  SOHKNRJ12A6701D1F8  Drop of Rain     0
4/82 files processed.
            artist_id  artist_latitude artist_location  artist_longitude  \
0  ARMJAGH1187FB546F3         35.14968     Memphis, TN         -90.04892

    artist_name   duration  num_songs             song_id      title  year
0  The Box Tops  148.03546          1  SOCIWDW12A8C13D406  Soul Deep  1969
5/82 files processed.
            artist_id  artist_latitude artist_location  artist_longitude  \
0  ARKFYS91187B98E58F              NaN                               NaN

             artist_name  duration  num_songs             song_id  \
0  Jeff And Sheri Easter  267.7024          1  SOYMRWW12A6D4FAB14

                                         title  year
0  The Moon And I (Ordinary Day Album Version)     0
6/82 files processed.
            artist_id  artist_latitude artist_location  artist_longitude  \
0  ARD0S291187B9B7BF5              NaN            Ohio               NaN

  artist_name   duration  num_songs             song_id  \
0     Rated R  114.78159          1  SOMJBYD12A6D4F8557

                   title  year
0  Keepin It Real (Skit)     0
7/82 files processed.
            artist_id  artist_latitude artist_location  artist_longitude  \
0  ARGSJW91187B9B1D6B         35.21962  North Carolina         -80.01955

    artist_name   duration  num_songs             song_id            title  \
0  JennyAnyKind  218.77506          1  SOQHXMF12AB0182363  Young Boy Blues

   year
0     0
8/82 files processed.
            artist_id  artist_latitude  artist_location  artist_longitude  \
0  AR7G5I41187FB4CE6C              NaN  London, England               NaN

  artist_name   duration  num_songs             song_id            title  year
0    Adam Ant  233.40363          1  SONHOTT12A8C13493C  Something Girls  1982
9/82 files processed.
            artist_id  artist_latitude artist_location  artist_longitude  \
0  ARXR32B1187FB57099              NaN                               NaN

  artist_name   duration  num_songs             song_id           title  year
0         Gob  209.60608          1  SOFSOCN12A8C143F5D  Face the Ashes  2007
10/82 files processed.
            artist_id  artist_latitude artist_location  artist_longitude  \
0  ARKRRTF1187B9984DA              NaN                               NaN

        artist_name   duration  num_songs             song_id  \
0  Sonora Santanera  177.47546          1  SOXVLOJ12AB0189215

             title  year
0  Amor De Cabaret     0
11/82 files processed.
            artist_id  artist_latitude artist_location  artist_longitude  \
0  ARXR32B1187FB57099              NaN                               NaN

  artist_name   duration  num_songs             song_id           title  year
0         Gob  209.60608          1  SOFSOCN12A8C143F5D  Face the Ashes  2007
12/82 files processed.
            artist_id  artist_latitude artist_location  artist_longitude  \
0  ARMJAGH1187FB546F3         35.14968     Memphis, TN         -90.04892

    artist_name   duration  num_songs             song_id      title  year
0  The Box Tops  148.03546          1  SOCIWDW12A8C13D406  Soul Deep  1969
13/82 files processed.
            artist_id  artist_latitude  artist_location  artist_longitude  \
0  AR7G5I41187FB4CE6C              NaN  London, England               NaN

  artist_name   duration  num_songs             song_id            title  year
0    Adam Ant  233.40363          1  SONHOTT12A8C13493C  Something Girls  1982
14/82 files processed.
            artist_id  artist_latitude  artist_location  artist_longitude  \
0  ARD7TVE1187B99BFB1              NaN  California - LA               NaN

  artist_name   duration  num_songs             song_id             title  \
0      Casual  218.93179          1  SOMZWCG12A8C13C480  I Didn't Mean To

   year
0     0
15/82 files processed.
            artist_id  artist_latitude artist_location  artist_longitude  \
0  ARKRRTF1187B9984DA              NaN                               NaN

        artist_name   duration  num_songs             song_id  \
0  Sonora Santanera  177.47546          1  SOXVLOJ12AB0189215

             title  year
0  Amor De Cabaret     0
16/82 files processed.
            artist_id  artist_latitude              artist_location  \
0  AR10USD1187B99F3F1              NaN  Burlington, Ontario, Canada

   artist_longitude            artist_name   duration  num_songs  \
0               NaN  Tweeterfriendly Music  189.57016          1

              song_id         title  year
0  SOHKNRJ12A6701D1F8  Drop of Rain     0
17/82 files processed.
            artist_id  artist_latitude artist_location  artist_longitude  \
0  AR8ZCNI1187B9A069B              NaN                               NaN

        artist_name   duration  num_songs             song_id       title  \
0  Planet P Project  269.81832          1  SOIAZJW12AB01853F1  Pink World

   year
0  1984
18/82 files processed.
            artist_id  artist_latitude artist_location  artist_longitude  \
0  ARKFYS91187B98E58F              NaN                               NaN

             artist_name  duration  num_songs             song_id  \
0  Jeff And Sheri Easter  267.7024          1  SOYMRWW12A6D4FAB14

                                         title  year
0  The Moon And I (Ordinary Day Album Version)     0
19/82 files processed.
            artist_id  artist_latitude artist_location  artist_longitude  \
0  ARD0S291187B9B7BF5              NaN            Ohio               NaN

  artist_name   duration  num_songs             song_id  \
0     Rated R  114.78159          1  SOMJBYD12A6D4F8557

                   title  year
0  Keepin It Real (Skit)     0
20/82 files processed.
            artist_id  artist_latitude artist_location  artist_longitude  \
0  ARIG6O41187B988BDD         37.16793   United States         -95.84502

       artist_name  duration  num_songs             song_id      title  year
0  Richard Souther  228.5971          1  SOUQQEA12A8C134B1B  High Tide     0
21/82 files processed.
            artist_id  artist_latitude artist_location  artist_longitude  \
0  AR1ZHYZ1187FB3C717              NaN                               NaN

     artist_name   duration  num_songs             song_id  \
0  Faiz Ali Faiz  599.24853          1  SOILPQQ12AB017E82A

                  title  year
0  Sohna Nee Sohna Data     0
22/82 files processed.
            artist_id  artist_latitude           artist_location  \
0  ARD842G1187B997376         43.64856  Toronto, Ontario, Canada

   artist_longitude artist_name   duration  num_songs             song_id  \
0         -79.38533  Blue Rodeo  491.12771          1  SOHUOAP12A8AE488E9

      title  year
0  Floating  1987
23/82 files processed.
            artist_id  artist_latitude artist_location  artist_longitude  \
0  ARL7K851187B99ACD2              NaN                               NaN

  artist_name   duration  num_songs             song_id     title  year
0   Andy Andy  226.35057          1  SOMUYGI12AB0188633  La Culpa     0
24/82 files processed.
            artist_id  artist_latitude artist_location  artist_longitude  \
0  ARHHO3O1187B989413              NaN                               NaN

  artist_name   duration  num_songs             song_id           title  year
0   Bob Azzam  191.84281          1  SORAMLE12AB017C8B0  Auguri Cha Cha     0
25/82 files processed.
            artist_id  artist_latitude artist_location  artist_longitude  \
0  ARYKCQI1187FB3B18F              NaN                               NaN

  artist_name   duration  num_songs             song_id              title  \
0       Tesla  290.29832          1  SOXLBJT12A8C140925  Caught In A Dream

   year
0  2004
26/82 files processed.
            artist_id  artist_latitude artist_location  artist_longitude  \
0  ARQGYP71187FB44566         34.31109     Mineola, AR         -94.02978

    artist_name   duration  num_songs             song_id  \
0  Jimmy Wakely  151.84934          1  SOWTBJW12AC468AC6E

                        title  year
0  Broken-Down Merry-Go-Round     0
27/82 files processed.
            artist_id  artist_latitude artist_location  artist_longitude  \
0  ARNPAGP1241B9C7FD4              NaN                               NaN

  artist_name   duration  num_songs             song_id            title  year
0   lextrical  165.69424          1  SOZVMJI12AB01808AF  Synthetic Dream     0
28/82 files processed.
            artist_id  artist_latitude artist_location  artist_longitude  \
0  ARC43071187B990240              NaN      Wisner, LA               NaN

    artist_name   duration  num_songs             song_id  \
0  Wayne Watson  245.21098          1  SOKEJEJ12A8C13E0D0

                      title  year
0  The Urgency (LP Version)     0
29/82 files processed.
            artist_id  artist_latitude artist_location  artist_longitude  \
0  ARI3BMM1187FB4255E          38.8991      Washington           -77.029

    artist_name   duration  num_songs             song_id         title  year
0  Alice Stuart  220.78649          1  SOBEBDG12A58A76D60  Kassie Jones     0
30/82 files processed.
            artist_id  artist_latitude    artist_location  artist_longitude  \
0  ARIK43K1187B9AE54C              NaN  Beverly Hills, CA               NaN

     artist_name  duration  num_songs             song_id  \
0  Lionel Richie  307.3824          1  SOBONFF12A6D4F84D8

                     title  year
0  Tonight Will Be Alright  1986
31/82 files processed.
            artist_id  artist_latitude    artist_location  artist_longitude  \
0  ARIK43K1187B9AE54C              NaN  Beverly Hills, CA               NaN

     artist_name  duration  num_songs             song_id  \
0  Lionel Richie  307.3824          1  SOBONFF12A6D4F84D8

                     title  year
0  Tonight Will Be Alright  1986
32/82 files processed.
            artist_id  artist_latitude artist_location  artist_longitude  \
0  AREBBGV1187FB523D2              NaN     Houston, TX               NaN

                                    artist_name   duration  num_songs  \
0  Mike Jones (Featuring CJ_ Mello & Lil' Bran)  173.66159          1

              song_id                            title  year
0  SOOLYAZ12A6701F4A6  Laws Patrolling (Album Version)     0
33/82 files processed.
            artist_id  artist_latitude artist_location  artist_longitude  \
0  ARB29H41187B98F0EF         41.88415         Chicago         -87.63241

     artist_name   duration  num_songs             song_id  \
0  Terry Callier  342.56934          1  SOGNCJP12A58A80271

                          title  year
0  Do You Finally Need A Friend  1972
34/82 files processed.
            artist_id  artist_latitude artist_location  artist_longitude  \
0  ARDNS031187B9924F0         32.67828         Georgia         -83.22295

  artist_name   duration  num_songs             song_id  \
0  Tim Wilson  186.48771          1  SONYPOM12A8C13B2D7

                                               title  year
0  I Think My Wife Is Running Around On Me (Taco ...  2005
35/82 files processed.
            artist_id  artist_latitude    artist_location  artist_longitude  \
0  ARMAC4T1187FB3FA4C         40.82624  Morris Plains, NJ         -74.47995

                 artist_name   duration  num_songs             song_id  \
0  The Dillinger Escape Plan  207.77751          1  SOBBUGU12A8C13E95D

                             title  year
0  Setting Fire to Sleeping Giants  2004
36/82 files processed.
            artist_id  artist_latitude artist_location  artist_longitude  \
0  AR0RCMP1187FB3F427         30.08615    Beaumont, TX         -94.10158

        artist_name   duration  num_songs             song_id  \
0  Billie Jo Spears  133.32853          1  SOGXHEG12AB018653E

                        title  year
0  It Makes No Difference Now  1992
37/82 files processed.
            artist_id  artist_latitude artist_location  artist_longitude  \
0  AR47JEX1187B995D81         37.83721      Nevada, MO         -94.35868

    artist_name   duration  num_songs             song_id  \
0  SUE THOMPSON  124.86485          1  SOBLGCN12AB0183212

                            title  year
0  James (Hold The Ladder Steady)  1985
38/82 files processed.
            artist_id  artist_latitude artist_location  artist_longitude  \
0  ARNTLGG11E2835DDB9              NaN                               NaN

  artist_name   duration  num_songs             song_id              title  \
0         Clp  338.31138          1  SOZQDIU12A58A7BCF6  Superconfidential

   year
0     0
39/82 files processed.
            artist_id  artist_latitude artist_location  artist_longitude  \
0  ARH4Z031187B9A71F2         40.73197      Newark, NJ         -74.17418

  artist_name   duration  num_songs             song_id                 title  \
0  Faye Adams  156.39465          1  SOVYKGO12AB0187199  Crazy Mixed Up World

   year
0  1961
40/82 files processed.
            artist_id  artist_latitude artist_location  artist_longitude  \
0  ARGIWFO1187B9B55B7              NaN                               NaN

      artist_name   duration  num_songs             song_id  \
0  Five Bolt Main  225.09669          1  SOPSWQW12A6D4F8781

                   title  year
0  Made Like This (Live)     0
41/82 files processed.
            artist_id  artist_latitude artist_location  artist_longitude  \
0  AR5KOSW1187FB35FF4         49.80388       Dubai UAE          15.47491

  artist_name   duration  num_songs             song_id           title  year
0       Elena  269.58322          1  SOZCTXZ12AB0182364  Setanta matins     0
42/82 files processed.
            artist_id  artist_latitude artist_location  artist_longitude  \
0  AR1Y2PT1187FB5B9CE         27.94017         Brandon         -82.32547

   artist_name   duration  num_songs             song_id              title  \
0  John Wesley  484.62322          1  SOLLHMX12AB01846DC  The Emperor Falls

   year
0     0
43/82 files processed.
            artist_id  artist_latitude                artist_location  \
0  AROUOZZ1187B9ABE51         40.79195  New York, NY [Spanish Harlem]

   artist_longitude  artist_name   duration  num_songs             song_id  \
0         -73.94512  Willie Bobo  168.25424          1  SOBZBAZ12A6D4F8742

            title  year
0  Spanish Grease  1997
44/82 files processed.
            artist_id  artist_latitude artist_location  artist_longitude  \
0  ARAJPHH1187FB5566A          40.7038      Queens, NY         -73.83168

       artist_name   duration  num_songs             song_id            title  \
0  The Shangri-Las  164.80608          1  SOYTPEP12AB0180E7B  Twist and Shout

   year
0  1964
45/82 files processed.
            artist_id  artist_latitude artist_location  artist_longitude  \
0  ARGUVEV1187B98BA17              NaN                               NaN

      artist_name   duration  num_songs             song_id  \
0  Sierra Maestra  313.12934          1  SOGOSOV12AF72A285E

               title  year
0  ¿Dónde va Chichi?  1997
46/82 files processed.
            artist_id  artist_latitude          artist_location  \
0  AR9AWNF1187B9AB0B4              NaN  Seattle, Washington USA

   artist_longitude                   artist_name   duration  num_songs  \
0               NaN  Kenny G featuring Daryl Hall  236.93016          1

              song_id            title  year
0  SOZHPGD12A8C1394FE  Baby Come To Me     0
47/82 files processed.
            artist_id  artist_latitude artist_location  artist_longitude  \
0  ARQ9BO41187FB5CF1F         40.99471    Pennsylvania         -77.60454

  artist_name   duration  num_songs             song_id  \
0  John Davis  183.17016          1  SOMVWWT12A58A7AE05

                     title  year
0  Knocked Out Of The Park     0
48/82 files processed.
            artist_id  artist_latitude artist_location  artist_longitude  \
0  AR7ZKHQ1187B98DD73              NaN                               NaN

  artist_name  duration  num_songs             song_id              title  \
0        Glad   270.602          1  SOTUKVB12AB0181477  Blessed Assurance

   year
0  1993
49/82 files processed.
            artist_id  artist_latitude  artist_location  artist_longitude  \
0  ARMBR4Y1187B9990EB         37.77916  California - SF        -122.42005

    artist_name   duration  num_songs             song_id  \
0  David Martin  241.47546          1  SOTTDKS12AB018D69B

                  title  year
0  It Wont Be Christmas     0
50/82 files processed.
            artist_id  artist_latitude  artist_location  artist_longitude  \
0  ARI2JSK1187FB496EF         51.50632  London, England          -0.12714

                artist_name   duration  num_songs             song_id  \
0  Nick Ingman;Gavyn Wright  111.62077          1  SODUJBS12A8C132150

                  title  year
0  Wessex Loses a Bride     0
51/82 files processed.
            artist_id  artist_latitude artist_location  artist_longitude  \
0  ARKULSX1187FB45F84         39.49974            Utah        -111.54732

  artist_name   duration  num_songs             song_id        title  year
0      Trafik  424.12363          1  SOQVMXR12A81C21483  Salt In NYC     0
52/82 files processed.
            artist_id  artist_latitude artist_location  artist_longitude  \
0  AR3JMC51187B9AE49D         28.53823     Orlando, FL         -81.37739

       artist_name   duration  num_songs             song_id  \
0  Backstreet Boys  236.25098          1  SOPVXLX12A8C1402D5

              title  year
0  Larger Than Life  1999
53/82 files processed.
            artist_id  artist_latitude artist_location  artist_longitude  \
0  AREDBBQ1187B98AFF5              NaN                               NaN

     artist_name   duration  num_songs             song_id  \
0  Eddie Calvert  138.63138          1  SOBBXLX12A58A79DDA

                           title  year
0  Erica (2005 Digital Remaster)     0
54/82 files processed.
            artist_id  artist_latitude  artist_location  artist_longitude  \
0  ARD7TVE1187B99BFB1              NaN  California - LA               NaN

  artist_name   duration  num_songs             song_id    title  year
0      Casual  259.44771          1  SOQLGFP12A58A7800E  OAKtown     0
55/82 files processed.
            artist_id  artist_latitude artist_location  artist_longitude  \
0  AROGWRA122988FEE45              NaN                               NaN

       artist_name   duration  num_songs             song_id        title  \
0  Christos Dantis  243.82649          1  SOSLAVG12A8C13397F  Den Pai Alo

   year
0     0
56/82 files processed.
            artist_id  artist_latitude artist_location  artist_longitude  \

In [2]:
%sql postgresql://student:student@127.0.0.1/sparkifydb

'Connected: student@sparkifydb'

In [3]:
%sql SELECT * FROM songplays LIMIT 5;

 * postgresql://student:***@127.0.0.1/sparkifydb
5 rows affected.

[(1, datetime.datetime(2018, 11, 30, 0, 22, 7, 796000), 91, 'free', 'SOMZWCG12A8C13C480', 'ARD7TVE1187B99BFB1', 829, 'Dallas-Fort Worth-Arlington, TX', 'Mozilla/5.0 (compatible; MSIE 10.0; Windows NT 6.2; WOW64; Trident/6.0)'),
 (2, datetime.datetime(2018, 11, 30, 1, 8, 41, 796000), 73, 'paid', 'SOMZWCG12A8C13C480', 'ARD7TVE1187B99BFB1', 1049, 'Tampa-St. Petersburg-Clearwater, FL', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"'),
 (3, datetime.datetime(2018, 11, 30, 1, 12, 48, 796000), 73, 'paid', 'SOMZWCG12A8C13C480', 'ARD7TVE1187B99BFB1', 1049, 'Tampa-St. Petersburg-Clearwater, FL', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"'),
 (4, datetime.datetime(2018, 11, 30, 1, 17, 5, 796000), 73, 'paid', 'SOMZWCG12A8C13C480', 'ARD7TVE1187B99BFB1', 1049, 'Tampa-St. Petersburg-Clearwater, FL', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"'),
 (5, datetime.datetime(2018, 11, 30, 1, 20, 56, 796000), 73, 'paid', 'SOMZWCG12A8C13C480', 'ARD7TVE1187B99BFB1', 1049, 'Tampa-St. Petersburg-Clearwater, FL', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"')]

In [4]:
%sql SELECT * FROM users LIMIT 5;

 * postgresql://student:***@127.0.0.1/sparkifydb
5 rows affected.

[(82, 'Avery', 'Martinez', 'F', 'paid'),
 (7, 'Adelyn', 'Jordan', 'F', 'free'),
 (52, 'Theodore', 'Smith', 'M', 'free'),
 (74, 'Braden', 'Parker', 'M', 'free'),
 (30, 'Avery', 'Watkins', 'F', 'paid')]

In [5]:
%sql SELECT * FROM songs LIMIT 5;

 * postgresql://student:***@127.0.0.1/sparkifydb
5 rows affected.

[('SOMZWCG12A8C13C480', "I Didn't Mean To", 'ARD7TVE1187B99BFB1', 0, 218.93179),
 ('SOUDSGM12AC9618304', 'Insatiable (Instrumental Version)', 'ARNTLGG11E2835DDB9', 0, 266.39628),
 ('SOIAZJW12AB01853F1', 'Pink World', 'AR8ZCNI1187B9A069B', 1984, 269.81832),
 ('SOHKNRJ12A6701D1F8', 'Drop of Rain', 'AR10USD1187B99F3F1', 0, 189.57016),
 ('SOCIWDW12A8C13D406', 'Soul Deep', 'ARMJAGH1187FB546F3', 1969, 148.03546)]

In [6]:
%sql SELECT * FROM artists LIMIT 5;

 * postgresql://student:***@127.0.0.1/sparkifydb
5 rows affected.

[('ARD7TVE1187B99BFB1', 'Casual', 'California - LA', 'NaN', 'NaN'),
 ('ARNTLGG11E2835DDB9', 'Clp', '', 'NaN', 'NaN'),
 ('AR8ZCNI1187B9A069B', 'Planet P Project', '', 'NaN', 'NaN'),
 ('AR10USD1187B99F3F1', 'Tweeterfriendly Music', 'Burlington, Ontario, Canada', 'NaN', 'NaN'),
 ('ARMJAGH1187FB546F3', 'The Box Tops', 'Memphis, TN', '35.14968', '-90.04892')]

In [7]:
%sql SELECT * FROM time LIMIT 5;

 * postgresql://student:***@127.0.0.1/sparkifydb
5 rows affected.

[(datetime.datetime(2018, 11, 30, 0, 22, 7, 796000), 0, 30, 48, 11, 2018, 4),
 (datetime.datetime(2018, 11, 30, 1, 8, 41, 796000), 1, 30, 48, 11, 2018, 4),
 (datetime.datetime(2018, 11, 30, 1, 12, 48, 796000), 1, 30, 48, 11, 2018, 4),
 (datetime.datetime(2018, 11, 30, 1, 17, 5, 796000), 1, 30, 48, 11, 2018, 4),
 (datetime.datetime(2018, 11, 30, 1, 20, 56, 796000), 1, 30, 48, 11, 2018, 4)]

## REMEMBER: Restart this notebook to close connection to `sparkifydb`
Each time you run the cells above, remember to restart this notebook to close the connection to your database. Otherwise, you won't be able to run your code in `create_tables.py`, `etl.py`, or `etl.ipynb` files since you can't make multiple connections to the same database (in this case, sparkifydb).

 * postgresql://student:***@127.0.0.1/sparkifydb
1 rows affected.

[("I Didn't Mean To", 1493114.80779999)]